* {
    box-sizing: border-box;
    background-color: hsla(197, 30%, 60%, 0.6);
    
}

body {
  
    height: 100vh;
    width:auto;
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.markup {
    display: flex;
    flex-direction: column;
}

nav {
    
    margin-left: 0;
    border: 1px solid black;
}

.projects{
display: flex;
justify-content: space-evenly;
  

}


.project-easy {
    display:flex;
    flex-direction: column;
}

.project-medium {
   display: flex;
   flex-direction: column;

    
}

.tool-tip {
  

}

.animation-tool{

 
}
.project-hard {

}


.style {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}